
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;


.header{
    background-color:#F8F2E6;
    display:flex;
    flex-direction:row;


    &__logo{
        width:350px;
       
    }

    &__list{
        list-style:none;
        display:flex;
        flex-direction:row;
        align-items:center;

        @include tablet{
        padding:4rem;
        gap:5rem;
        margin-left:20rem;

        }
    }
    
        &__text{
            
            border-bottom:2px black solid;
        }

    
}