@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.skills {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f2e5;
    padding-bottom: 4rem;
  }

  &__image {
    margin: auto;
    width: 250px;

    @include tablet {
      width: 400px;
    }

    @include desktop {
      width: 600px;
    }
  }
}
